$icon-font-path: '../fonts/';
$violet: #733cae;
$black: #4a4a4a;
$blue: #00b5e2;
$grey: #f6f6f6;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Space out content a bit */
body {
  font-family: 'Ubuntu', sans-serif;
  background: white;
}

p.normal {
  font-size: 28px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: $blue;
  @media screen and (max-width: 991px) {
    text-align: center;
    line-height: 1.4;
  }
}

p.medium {
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: white;
  @media screen and (max-width: 991px) {
    text-align: center;
    padding-top: 30px;
  }

}

p.big {
  font-size: 51px;
  line-height: 57px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  color: $violet;
}

p.quote-italic {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  color: $black;
  position: relative;
  display: block;
}
p.quote-bold {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: $black;
  margin-top: 15px;
  margin-bottom: 0;
}
p.quote-small {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.42;
  color: $black;
  margin-bottom: 0;
  margin-top: -3px;
}

p.guarantee{
  margin-top: 30px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #753bbd;
}

section {

  padding: 90px 0;
  &.breaker {
    padding: 0;
    position: relative;
    width: 100%;


  }
}

section.benefits{
  padding-top: 100px;
}

header{
  margin-bottom: -20px;
  .nav{
    height: 90px;
  }
  .logo-wrapper{
    img{
      display: inline-block;
    }
    p{
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #733cae;
      position: relative;
      top:20px;
    }
  }

  .menu{
    padding-top: 45px;
    a{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #4a4a4a;
      padding: 0;


      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -10px;
        background: $violet;
      }
    }
    &:first-child{
      margin-right: 50px;
    }
  }


}



/*header {
  top: 0;
  background: white;
  height: 84px;
  width: 100%;
  .dimedic-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;

    .dimedic-navbar-left {
      a {
        display: flex;
        align-items: flex-end;
        text-decoration: none;
      }
      .claim {
        margin-bottom: -3px;
        color: $violet;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
      }
    }

    .dimedic-navbar-right {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        li {
          &:first-child {
            margin-right: 40px;
          }
          a {
            color: $black;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            display: block;
            position: relative;

            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -5px;
              background: $violet;
            }
          }
        }
      }
    }
  }
}*/

.btn-dimedic {
  color: white;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  background: $blue;
  padding: 14px 40px;
  border-radius: 6px;
  outline: none !important;
  transition: background 0.4s;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.25);
  &:hover, &:active {
    color: white;
    background: $violet;
  }
  &:visited, &:focus  {
    color: white;
  }
}

section.title {

  @media screen and (max-width: 991px) {
    background: url('../images/title.png') no-repeat 60% 0%  ;
  }

  padding-bottom: 190px;
  background: url('../images/title.png') no-repeat  50% 10%;
  background-size: cover;
  position: relative;
  .btn-dimedic {
    margin-top: 50px;
    position: relative;
    z-index: 1;
  }
  .phd-name{
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.42;
    letter-spacing: normal;
    color: #484848;
    position: relative;
    top: 54px;
    left: -119px;
    @media screen and (max-width: 1199px) {
      top:33px;
      left: -62px;
    }

    @media screen and (max-width: 992px) {
      left: 0;
      text-align: left;
    }
  }

  .normal{
    @media screen and (max-width: 992px) {
      text-align: left;
      font-size: 28px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      color: #00b5e2;
    }
    position: relative;
    z-index: 1;

  }

  .big{
    position: relative;
    z-index: 1;
    @media screen and (max-width: 992px) {
      font-size: 35px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #753bbd;
    }
  }

  @media screen and (max-width: 992px) {
    padding-bottom: 70px;
  }

}
section.consulting {
  padding-top: 200px;
  padding-bottom: 200px;
  background: $grey;
  .quote {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .quote-img {
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.25);
        border-radius: 50%;
      }
      @media screen and (max-width: 992px) {
        margin-bottom: 50px;
      }
    }

    .quote-content {
      position: relative;
      margin-left: 70px;
      &:before {
        content: '';
        display: block;
        width: 97px;
        height: 63px;
        background: url('../images/quote.svg') no-repeat;
        top: -18px;
        left: -28px;
        position: absolute;
        z-index: 0;
      }
      @media screen and (max-width: 992px) {
        margin-left: 10px;
        margin-right: 10px;
      }

    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 992px) {
    padding-top: 65px;
    padding-bottom: 55px;
  }
}

.breaker-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  .breaker-content {
    position: relative;
    @media screen and (max-width: 992px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .breaker-inner {
    box-shadow: 0 15px 36px 0 rgba(0, 0, 0, 0.22);
    background-image: linear-gradient(to bottom, #753bbd, #441f6c);
    border-radius: 6px;
    padding: 35px 0;
    color: white;
    padding-top:64px;
  }
  p.normal {
    color: white;
    padding-bottom: 20px;
  }
  @media screen and (max-width: 992px) {
    position: relative;
    top: 0;
    transform: translateY(0);
  }



}

.breaker {
  &.second {
    .breaker-inner {
      background: url('../images/foto_niebieskie.png') no-repeat center center ;
      background-size: cover;
    }
    @media screen and (max-width: 992px) {

    }

  }
}

.top{
  padding-top: 15px !important;
  .normal{
    position: relative;
    top:10px;
  }
}

.bottom{
  @media screen and (max-width: 992px) {
    padding-top: 30px !important;
  }
}
.pullContentUp{
  position: relative;
  top: -10px;
  @media screen and (max-width: 992px) {
    top:0;
  }
}

.step{
  p{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 15px;
    position: relative;
  }

  span{
    color: #27b5ed;
  }
}

#step1{
  .step-number{
    position: relative;
    left: 17px;
    top: 25px;
  }
  .step-icon{
    position: relative;
    left: -6px;
    top: 17px;
  }
}

#step2{
  .step-number{
    position: relative;
    left: 17px;
    top: 25px;
  }
  .step-icon{
    position: relative;
    left: -6px;
    top: 17px;
  }
}

#step3{
  .step-number{
    position: relative;
    left: 17px;
    top: 25px;
  }
  .step-icon{
    position: relative;
    left: -6px;
    top: 17px;
  }
}

.next{
  margin-top: 60px;
  @media screen and (max-width: 992px) {
    transform: rotate(90deg);
  }
}

.day-n-night{
  padding-top: 50px;
  font-size: 125px;
  line-height: 57px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: white;
  span{
    color:#63ACDD;
  }
  @media screen and (max-width: 992px) {
    font-size: 100px;
    text-align: center;
    padding-bottom: 50px;
  }

}

section.opinions{
  background: $grey;

  .opineoImg{
    margin-bottom: 50px;
  }
    .opinion{
      border-bottom: 1px solid #d8d8d8;
      .user-opinion{

        .glyphicon{
          color: #104b99;
          font-size: 15px;
        }
        .glyphicon:first-child{
          padding-left: 2px;
        }
        font-size: 17px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-weight: bold;
        color: #104b99;
        span{
          font-weight: normal;
          color: #898989;
        }
      }
      .content{
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.53;
        letter-spacing: normal;
        color: #4a4a4a;
      }
      .date{
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
      }
      .link{
        vertical-align: top;
      }

    }

  #opinion1{
    padding-bottom: 30px;
  }

  #opinion2{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #opinion3{
    padding-top: 30px;
    border-bottom: 0;
  }

  @media screen and (max-width: 992px) {
    margin-top: -40px;
    padding-top: 20px;
  }

}


section.knowMore{
  .logotypes{
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media screen and (max-width: 992px) {
          flex-direction: column;
          margin-bottom: 50px;

    }

    &>img{
      padding-bottom: 40px;
    }

    img:last-of-type{
      padding-bottom: 45px;
    }
  }
  .know-more{
    line-height: 1.2;
    font-size: 51px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #753bbd;
  }

  .contact-us{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.46;
    color: #15a6db;
  }

  .mail{
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #753bbd;

    @media screen and (max-width: 992px) {
      display: block;
      text-align: center;
      padding-bottom: 30px;
    }
  }

  .mail-icon{
    @media screen and (max-width: 992px) {
      float: none !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
    }
  }

  .number{
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #753bbd;
    @media screen and (max-width: 992px) {
      display: block;
      text-align: center;
      font-size: 35px;
    }
  }

  .partners{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #74767b;
    padding-top: 30px;
    padding-bottom: 30px;

  }

  .mail-wrapper{
    padding-top: 13px;
  }

  .contact-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (max-width: 992px) {
    padding-top: 20px;
  }
}

.navbar-brand{



  @media screen and (max-width: 992px) {
    float: none;
    .logo-wrapper{
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      p{
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #733cae;
      }

    }
  }
}

.m-r{
  @media screen and (max-width: 776px) {
    margin-right: 0;
  }
}

section.benefits{
  padding-top: 185px;
  @media screen and (max-width: 992px) {
    padding-top: 0;



  }

  .container{
    .row{
      @media screen and (max-width: 992px) {
        padding-top: 100px;

        .col-md-4 + .col-md-4{
          padding-top: 30px;
        }

        .col-md-4:first-child{
          padding-top: 0;
        }


      }
    }
  }
}

.bg-opacity-mobile {
  @media screen and (max-width: 776px) {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    z-index: 0;
    opacity: 0.5;
    top: 0;
    left: 0;
  }
}


section.scroll-bar{
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 90px;
  width: 100%;
  background: #6D36B0;
  padding: 0;

  transform: scaleX(0);

  a{
    margin-top: 13px;
    opacity: 0;
  }

  h1{
    padding-top: 5px;
    color: white;
    font-weight: 100;
    opacity: 0;
    @media screen and (max-width: 1199px) {
      font-size: 31px;
    }
  }

}

@keyframes scaling-on {
  From {
    transform: scaleX(0);
  }
  To {
    transform: scaleX(1);
    height: 90px;
  }
}

@keyframes scaling-off {
  From {
    transform: scaleX(1);
  }
  To {
    transform: scaleX(0);
    height: 90px;
  }
}


@keyframes opacity {
  From {
    opacity: 0;
  }
  To {
    opacity: 1;
  }
}

.anim-on{
  animation: scaling-on 0.2s ease-in-out 0s forwards;
  h1{
    animation : opacity 0.2s ease-in-out 0.15s forwards;
  }
  a{
    animation : opacity 0.2s ease-in-out 0.15s forwards;
  }
}

.anim-off{
  animation: scaling-off 0.2s ease-in-out 0s forwards;
}

section.mobile-fixed-bottom{
  position: fixed;
  bottom: 0;

  background: #6D36B0;
  z-index: 9999;
  left: 0;
  width: 100%;
  padding: 0;
  h2{
    color: white;
    font-size: 15px;
  }
  a{
    margin-bottom: 20px;
    transform: scale(0.8);
    width: 250px;
  }
}


.text-img{
  font-size: 19px !important;
  @media screen and (max-width: 992px) {
    text-align: center;
  }
}

.a-mobile{
  position: relative;
  z-index: 8888;
  display: block;
  height: 20px;
  text-decoration: none;

}

